<%- include('partials/nav'); %>
<div class="container">
  <div class="jumbotron jumbotron-fluid rounded my-3 text-white">
    <div class="container">
      <h1 class="display-4 mx-3" id="jumboheading">Choose from our <br>variety of courses!</h1>
      <p class="lead mx-3">Learn to your heart's content.</p>
    </div>
  </div>

  <div class="row">
    <p class="my-3" style=" color: #002856; font-size: 23px; font-weight: bold; margin-left: 20px;">Newly Added Courses
    </p>
  </div>

  <!--experiment-->
  <div class="container">

    <div class="row">
      <% data.forEach(function(course){ %>
      <div class="card newcourses">
        <img src="<%= course.courseBanner %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= course.courseName %></h5>
          <p class="card-text"><strong class="text-muted"><%= course.courseTeacher %></strong></p>
          <a role="button" class="btn btn-sm my-2  align-self-end" type="submit" href="/contactus"
            style="color: white;">Contact Us</a>
          <a role="button" class="btn btn-sm  my-2 " type="submit" data-toggle="modal" data-target="#exampleModal5"
            onclick="getModel('<%= course.courseName %>','<%= course.courseDesc %>','<%= course.courseDuration %>','<%= course.coursePrice %>','<%= course.courseBanner %>')"
            style="color: white;">Read more</a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <!--Cards-->
  <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modelImage" class="modal-img">
          <p id="modelDesc"> </p>
          <p class="text-muted text-center" id="modelDuration"><strong></strong></p>
          <p class="text-muted text-center" id="modelPrice"><strong></strong></p>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn " style=" color: white;" data-dismiss="modal">Close</a>
          <a type="button" class="btn " style=" color: white;" href="/contactus">Conatct Us</a>
        </div>
      </div>
    </div>
  </div>
  <!--card end-->
</div>
<%- include('partials/footer'); %>
<script src="./js/myscript.js"></script>
</body>
</html>