<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./CSS/style.css" >
    <title>Courses|Nicknet Online Learning</title>
  </head>
  <body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-light navbar-light"  >
        <a class="navbar-brand" href="#"><img src="http://nicknetvideos.herokuapp.com/nicknet.svg" width="35" height="35" class="d-inline-block align-top" alt="" loading="lazy">&nbsp;<span id="logoname" style="font-family: Impact, Charcoal, serif; ">Nicknet Online Learning</span></a>
        <button class="navbar-toggler" type="button "  data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" >
            <a class="nav-item nav-link active" href="index.html" style="color: #002856;">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" style="color: #002856;">Courses</a>
            <a class="nav-item nav-link" href="contact.html" style="color: #002856;">Contact Us</a>
          </div>
        </div>
        <div id="buttonsonly">
        <a role="button" class="btn my-2 my-sm-0 mx-2" type="submit">Sign Up</a>
        <a role="button" class="btn  my-2 my-sm-0" type="submit">Login</a>
      </div>
      </nav>
      <div class="container">
        <div class="jumbotron jumbotron-fluid rounded my-3 text-white">
            <div class="container">
              <h1 class="display-4 mx-3" id="jumboheading">Choose from our <br>variety of courses!</h1>
              <p class="lead mx-3">Learn to your heart's content.</p>
            </div>
          </div>
          <!--Card Decks-->
          <div class="row">
          <p style="font-family: 'Graphik Web'; color: #002856; font-size: 23px; font-weight: bold; margin-left: 20px;">Trending courses</p>
        </div>
        <div class="row">
          <div class="card-deck ">
            <div class="card mx-2 trendingcourse">
              <img src="https://blog.insaid.co/wp-content/uploads/2019/04/Python-logo.jpg" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title" style="font-weight: bold;">Complete Python Developer Course</h5>
                <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
                <a role="button" class="btn  btn-sm my-2  " type="submit" style="color: white;">Enroll now</a>
                <a role="button" class="btn btn-sm  my-2 " type="submit"  style="color: white;" data-toggle="modal" data-target="#exampleModal5"> Read more</a>
                
              </div>
            </div>
            <div class="card mx-2 trendingcourse">
              <img src="https://pbs.twimg.com/profile_images/882558757531791360/CGKUrcD9_400x400.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Unity Android 2020 : Build 7 Games with Unity & C#</h5>
                <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
                <a role="button" class="btn btn-sm my-2 " type="submit" style="color: white;">Enroll now</a>
                <arole="button" class="btn btn-sm  my-2 " type="submit" href="#" style="color: white;">Read more</a>
              </div>
            </div>
            <div class="card mx-2 trendingcourse">
              <img src="https://trellis.co/wp-content/uploads/2019/02/Blog-Post-Banners-3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Build ECommerce Shopping Cart By React & Redux 2020 Edition</h5>
                <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
                <a role="button" class="btn btn-sm my-2 " type="submit" style="color: white;">Enroll now</a>
                <a role="button" class="btn btn-sm my-2 " type="submit"  style="color: white;">Read more</a>
              </div>
            </div>
            <div class="card mx-2 trendingcourse">
              <img src="https://devqa.io/assets/images/ethical-hacking-penetration-testing.png" class="card-img-top" alt="...">
              <div class="card-body" >
                <h5 class="card-title" style="font-weight: bold;">Practical Ethical Hacking - The Complete Course</h5>
                <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
                <a role="button" class="btn btn-sm my-2 " type="submit" style="color: white;">Enroll now</a>
                <a role="button" class="btn btn-sm  my-2 " type="submit"  style="color: white;">Read more</a>
              </div>
            </div>
          </div>
        </div>
          <!-- cards 2-->
          <div class="row">
            <p  class="my-3" style="font-family: 'Graphik Web'; color: #002856; font-size: 23px; font-weight: bold; margin-left: 20px;">Newly Added Courses</p>
        </div>
        
        <!--experiment-->
        <div class="row">
        <div class="card-deck my-2">
          <div class="card newcourses">
            <img src="https://img-a.udemycdn.com/course/750x422/1759194_6509_4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Graph Theory Algorithms</h5>
              <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
              <a role="button" class="btn btn-sm my-2  align-self-end" type="submit" style="color: white;">Enroll now</a>
              <a role="button" class="btn btn-sm  my-2 " type="submit"  style="color: white;">Read more</a>
            </div>
          </div>
          <div class="card newcourses">
            <img src="https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/12/20/Photos/Opinion/cybersecurity-istockphoto-kqv--621x414@LiveMint.jpg" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Cyber Security - Go From Zero to Hero in 2020</h5>
              <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
              <a role="button" class="btn btn-sm my-2 " type="submit" style="color: white;">Enroll now</a>
              <a role="button" class="btn btn-sm  my-2 " type="submit"  style="color: white;">Read more</a>
            </div>
          </div>
          <div class="card newcourses">
            <img src="https://www.openbravo.com/blog/wp-content/uploads/2020/03/azure-cloud.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Microsoft Azure cloud - Beginner Bootcamp (Updated Sep 2019)</h5>
              <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
              <a role="button" class="btn btn-sm my-2 " type="submit" style="color: white;">Enroll now</a>
              <a role="button" class="btn btn-sm  my-2 " type="submit"  style="color: white;">Read more</a>
            </div>
          </div>
          <div class="card newcourses">
            <img src="https://cdn.mindmajix.com/courses/drools-training-120620.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Master Drools - Turn Complex Logic into Simple to Read Rules</h5>
              <p class="card-text" ><strong class="text-muted">Fred Williams</strong></p>
              <a role="button" class="btn btn-sm my-2  mt-auto" type="submit" style="color: white;">Enroll now</a>
              <a role="button" class="btn btn-sm  my-2 mt-auto " type="submit"  style="color: white;">Read more</a>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <% data.forEach(function(course){ %>
          <div  class="col-4">
                <div class="card newcourses">
                    <img src="<%= course.courseBanner %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= course.courseName %></h5>
                      <p class="card-text" ><strong class="text-muted"><%= course.courseDesc %></strong></p>
                      <a role="button" class="btn btn-sm my-2  align-self-end" type="submit" style="color: white;">Enroll now</a>
                      <a role="button" class="btn btn-sm  my-2 " type="submit" data-toggle="modal" data-target="#exampleModal5" onclick="getModel('<%= course.courseName %>','<%= course.courseDesc %>','<%= course.courseDuration %>','<%= course.coursePrice %>','<%= course.courseBanner %>')" style="color: white;">Read more</a>
                    </div>
                  </div>
              </div>
        <% }); %>

      </div>
        <!--Cards-->
        <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="modelImage"
              class="modal-img">
            <p id="modelDesc"> </p>
            <p class="text-muted text-center" id="modelDuration"><strong></strong></p>
            <p class="text-muted text-center" id="modelPrice"><strong></strong></p>
          </div> 
          <div class="modal-footer">
            <a type="button" class="btn " data-dismiss="modal">Close</a>
            <a type="button" class="btn ">Enroll Now!</a>
          </div>
        </div>
      </div>
    </div>
    <!--card end-->
      </div>
           <!--FOOTER-->
  <footer>
    <nav class="navbar bg-light">
      <div class="container">
      <!-- Links -->
      <a class="navbar-brand" href="#"><img src="http://nicknetvideos.herokuapp.com/nicknet.svg" width="80" height="80" class="d-inline" alt="" loading="lazy">&nbsp;<span  id="logoname" style="font-family: Impact, Charcoal, serif; ">Nicknet Online Learning &nbsp;</span></a>
   
      <ul class="navbar-nav mx-5 my-5 mr-auto ">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact Us</a>
        </li>
      </ul>
      <div class="row">
        <p class="text-muted ">&copy;Nicknet Online Learning</p>
      </div>
    </div>
    </nav>
  </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script src="./js/myscript.js"></script>
  </body>
</html>